# App
PORT=3000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=creci_user
DB_PASSWORD=creci_password
DB_NAME=creci_db

# JWT
JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=change_this_refresh_secret
JWT_REFRESH_EXPIRES_IN=7d
